# Python Pandas 실무 데이터 분석 1탄(Series / DataFrame 구조)

## Python 주피터 사용하기

 * code mode -> [Esc] -> Commend mode
 * Commend mode: 셀을 삭제하거나 편집할 수 있는 기능
     - [a]: 현재 위치한 셀의 윗부분에 새로운 셀을 생성
     - [b]: 현재 위치한 셀의 아랫부분에 새로운 셀을 생성
     - ['x']: 현재 선택된 셀을 삭제
     - [m]: markdown mode (주석, 설명, ...)
     - [y]: code mode(python)
* [Shift] + [Enter]: Script 실행

In [2]:
import pandas as pd

## Series

* index - value
* 데이터의 순서를 나타내는 자료형

## DataFrame

* index-column-value

## 1. Series

In [2]:
s1 = pd.Series([10,20,30,40]) # value 값만 지정
s1
# 하나의 데이터 타입만 넣을 수 있다.

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
s1.sum()

100

In [4]:
s1.mean()

25.0

In [5]:
# 특정 인덱스를 지정할 수 있음
# Series의 이름(name) 지정 가능
s2 = pd.Series(['분식이',' 쏘니', '홍길동', '변사또'], index=['하나', '둘', '셋', '넷'], name = '출석부')
s2

하나    분식이
둘      쏘니
셋     홍길동
넷     변사또
Name: 출석부, dtype: object

pd.Series()에서 index 옵션을 생략해도 가능하다.

In [6]:
# 딕셔너리 형태로 Series 작성
s3 = pd.Series({'name':'김분식', 'age':30, 'gender':'male', 'job':'분석가'})
s3

# 딕셔너리의 Key값이 index로, 딕셔너리의 Value값이 value값으로 들어감
# 30이라는 숫자값이 있지만 다른 value값에 문자형이 있으므로 데이터 타입을 'objedt' 하나로 맞춤

name       김분식
age         30
gender    male
job        분석가
dtype: object

In [7]:
# 위와 같은 방법으로 Series 작성
dic = {'name':'김분식', 'age':30, 'gender':'male', 'job':'분석가'}
pd.Series(dic)

name       김분식
age         30
gender    male
job        분석가
dtype: object

In [8]:
# Series는 순서가 있는 데이터 구조이므로 인덱싱 가능
s4 = pd.Series(['국어', '수학', '사회', '과학'])
s4

0    국어
1    수학
2    사회
3    과학
dtype: object

In [9]:
s4[0]

'국어'

In [10]:
s3

name       김분식
age         30
gender    male
job        분석가
dtype: object

In [11]:
# 인덱스 값을 직접 입력하여 인덱싱 가능
s3['name']

'김분식'

In [12]:
# 특정 범위를 지정하여 인덱싱 가능
s4[:3]

0    국어
1    수학
2    사회
dtype: object

In [13]:
s3 == '분석가'

name      False
age       False
gender    False
job        True
dtype: bool

In [14]:
s3[ s3 == '분석가' ]

job    분석가
dtype: object

## 2. DataFrame

In [3]:
pd.DataFrame([10,20,30,40,50])

    0
0  10
1  20
2  30
3  40
4  50

In [21]:
pd.DataFrame([[10,20,30,40], ['철수', '영희',' 분식', '은희']])

    0   1    2   3
0  10  20   30  40
1  철수  영희   분식  은희

In [26]:
df1 = pd.DataFrame([[1000, '과자', '2019-12-31', '반품'],
                   [2000, '음료', '2020-03-02', '정상'],
                   [3000, '아이스크림', '2020-02-03', '정상'],
                   [1000, '과자', '2019-12-31', '반품']],
                  columns=['가격', '종류', '판매일자', '반품여부'])
df1

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [28]:
# df1 '가격' 칼럼의 데이터만 가져와서 Series 형태로 보일 수 있음
df1['가격']

0    1000
1    2000
2    3000
3    1000
Name: 가격, dtype: int64

In [29]:
df1['종류']

0       과자
1       음료
2    아이스크림
3       과자
Name: 종류, dtype: object

In [30]:
df1['가격'].sum()

7000

In [31]:
df1['가격'].mean()

1750.0

In [33]:
# 대괄호([]) 1개 → Series 형태
df1['가격']

0    1000
1    2000
2    3000
3    1000
Name: 가격, dtype: int64

In [32]:
# 대괄호([]) 2개 → DataFrame 형태
df1[['가격']]

     가격
0  1000
1  2000
2  3000
3  1000

In [36]:
# 원하는 칼럼만 추출(Series 형태로...)
df1['가격', '종류']

# 오류 발생: Series는 index와 value 값만 가질 수 있기 때문이다.
# 따라서 여러 개의 컬럼을 가져올 떄는 DataFrame 형태로 가져와야 한다.

KeyError: ('가격', '종류')

In [37]:
# 원하는 칼럼만 추출(DataFrame 형태로...)
df1[['가격', '종류']]

     가격     종류
0  1000     과자
1  2000     음료
2  3000  아이스크림
3  1000     과자