# 날짜데이터를 처리 하자! 2편 (python / date time / pandas / apply )

In [3]:
import pandas as pd

In [4]:
df2=pd.read_csv('Data02.csv')
print(df2.shape)
df2

(46749, 9)

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231
...,...,...,...,...,...,...,...,...,...
46744,카드,D-20171229-0000036-00,2017-12-29 오후 4:32,2018-01-02 오전 5:31,52800,445.0,1,모바일웹,20171229
46745,카드,D-20171229-0000043-00,2018-01-03 오전 9:45,2018-01-07 오전 5:38,112200,172.0,2,모바일웹,20171229
46746,카드,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,36000,140.0,1,네이버 페이,20171230
46747,카드,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,73460,184.0,1,네이버 페이,20171231
46748,카드,D-20171231-0000026-00,2018-01-03 오후 12:43,2018-01-07 오전 5:38,81620,479.0,1,모바일웹,20171231

In [7]:
pd.to_datetime(df2['배송시작일'])

ParserError: Unknown string format: 2019-01-07 오전 8:56

**TypeError** 오류가 발생한다.  
판다스에서는 to_datetime() 함수를 처리할 수 있는 형식이 존재한다. 정해진 날짜 형식이면 to_datetime() 함수를 사용할 수 있다.  
하지만 Data02.csv 파일은 정해진 형식이 아니므로 to_datetime() 함수를 사용할 수 없다.

### 1. apply() 정규식 함수 사용
apply() 함수는 DataFrame의 칼럼에 복잡한 연산을 vectorizing할 수 있게 해주는 함수로 매우 많이 활용되는 함수이다.

apply() 함수는 간단한 경우 lambda() 함수를 적용할 수 있으며, 복잡한 경우 사용자 정의 함수를 적용할 수도 있다.

#### 배송시작일/완료일 전처리

In [9]:
df2['배송시작일']

0         2019-01-07 오전 8:56
1         2019-01-03 오전 9:30
2         2019-01-03 오전 9:30
3         2019-01-03 오전 9:30
4         2019-01-07 오전 8:56
                ...
46744     2017-12-29 오후 4:32
46745     2018-01-03 오전 9:45
46746     2018-01-02 오후 7:06
46747     2018-01-03 오후 2:00
46748    2018-01-03 오후 12:43
Name: 배송시작일, Length: 46749, dtype: object

In [10]:
# 'date_funtion' 함수 정의
## 1. df2['배송시작일'] Series 데이터가 한 줄씩 date_function 함수에 들어간다.
## 2. date_function 함수의 x에 들어간다.
## 3. x를 출력한다.

def date_function(x):
    return x

df2['배송시작일'].apply(date_function)

0         2019-01-07 오전 8:56
1         2019-01-03 오전 9:30
2         2019-01-03 오전 9:30
3         2019-01-03 오전 9:30
4         2019-01-07 오전 8:56
                ...
46744     2017-12-29 오후 4:32
46745     2018-01-03 오전 9:45
46746     2018-01-02 오후 7:06
46747     2018-01-03 오후 2:00
46748    2018-01-03 오후 12:43
Name: 배송시작일, Length: 46749, dtype: object

In [14]:
# 연도 추출
## 1. df2['배송시작일'] Series 데이터가 한 줄씩 date_function 함수에 들어간다.
## 2. date_function 함수의 x에 들어간다.
## 3. x[0:4]를 출력한다.

def date_function(x):
    return x[0:4]

df2['배송시작일'].apply(date_function)

0        2019
1        2019
2        2019
3        2019
4        2019
         ...
46744    2017
46745    2018
46746    2018
46747    2018
46748    2018
Name: 배송시작일, Length: 46749, dtype: object

In [15]:
# 연도-월-일 추출
def date_function(x):
    return x[0:10]

df2['배송시작일'].apply(date_function)

0        2019-01-07
1        2019-01-03
2        2019-01-03
3        2019-01-03
4        2019-01-07
            ...
46744    2017-12-29
46745    2018-01-03
46746    2018-01-02
46747    2018-01-03
46748    2018-01-03
Name: 배송시작일, Length: 46749, dtype: object

In [18]:
df2['배송시작일(datetime)'] = pd.to_datetime(df2['배송시작일'].apply(date_function))
df2['배송완료일(datetime)'] = pd.to_datetime(df2['배송완료일'].apply(date_function))

In [23]:
df2.head()

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일,배송시작일(datetime),배송완료일(datetime),배송시간
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227,2019-01-07,2019-01-11,4 days
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229,2019-01-03,2019-01-07,4 days
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230,2019-01-03,2019-01-07,4 days
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231,2019-01-03,2019-01-07,4 days
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231,2019-01-07,2019-01-11,4 days

In [20]:
# 시간 간격 계산
df2['배송완료일(datetime)'] - df2['배송시작일(datetime)']

0       4 days
1       4 days
2       4 days
3       4 days
4       4 days
         ...
46744   4 days
46745   4 days
46746   9 days
46747   3 days
46748   4 days
Length: 46749, dtype: timedelta64[ns]

timedelta64: 시간의 간격을 나타내는 데이터 타입

In [21]:
df2['배송시간'] = df2['배송완료일(datetime)'] - df2['배송시작일(datetime)']

In [22]:
df2.head()

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일,배송시작일(datetime),배송완료일(datetime),배송시간
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227,2019-01-07,2019-01-11,4 days
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229,2019-01-03,2019-01-07,4 days
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230,2019-01-03,2019-01-07,4 days
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231,2019-01-03,2019-01-07,4 days
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231,2019-01-07,2019-01-11,4 days

In [25]:
df2['배송시간'].describe()

count                        46749
mean     4 days 04:38:57.008278251
std      1 days 04:56:12.144368428
min                0 days 00:00:00
25%                4 days 00:00:00
50%                4 days 00:00:00
75%                4 days 00:00:00
max               47 days 00:00:00
Name: 배송시간, dtype: object

In [27]:
pd.to_datetime(df2['주문일'])

0       1970-01-01 00:00:00.020181227
1       1970-01-01 00:00:00.020181229
2       1970-01-01 00:00:00.020181230
3       1970-01-01 00:00:00.020181231
4       1970-01-01 00:00:00.020181231
                     ...
46744   1970-01-01 00:00:00.020171229
46745   1970-01-01 00:00:00.020171229
46746   1970-01-01 00:00:00.020171230
46747   1970-01-01 00:00:00.020171231
46748   1970-01-01 00:00:00.020171231
Name: 주문일, Length: 46749, dtype: datetime64[ns]

숫자 데이터인 '주문일'을 날짜 형태로 바꾸면 위와 같은 형태가 된다.

In [31]:
def date_function2(x):
    return x[0:4]

df2['주문일'].apply(date_function2)

TypeError: 'int' object is not subscriptable

숫자로 인식하기 때문에 인덱싱 사용 불가능

In [34]:
def date_function2(x):
    result = str(x)
    return result[0:4] +'-' + result[4:6] + '-' + result[6:8]

df2['주문일'].apply(date_function2)

0        2018-12-27
1        2018-12-29
2        2018-12-30
3        2018-12-31
4        2018-12-31
            ...
46744    2017-12-29
46745    2017-12-29
46746    2017-12-30
46747    2017-12-31
46748    2017-12-31
Name: 주문일, Length: 46749, dtype: object

1. '주문일' 데이터를 date_function2 함수의 x에 넣는다.  
2. 이것을 문자(string)로 바꾼 후, 인덱싱을 한다.  
3. '+' 연사자를 이용해서 문자 데이터를 연결한다.